
.loginPageContainer {
  height: 100dvh;
  overflow: hidden;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navUl {
  display: flex;
  list-style: none;
  height: 100px;
  align-items: center;
}

.navLi {
  list-style-type: none;
  margin-right: 32px;
  font-weight: bold;
  animation: slideTop 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  opacity: 0;
  display: inline-block;
}


.login {
  font-size: 24px;
  font-weight: 600;
  background-color: var(--button-color);
  color: #fafafa;
  border-radius: 24px;
  padding: 8px 24px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.login:hover {
  cursor: pointer;
  background-color: #6e8ec5;
}

.login:active {
  background-color: #6e8ec5;
}

.navButton {
  font-size: 24px;
  text-decoration: none;
  padding: 8px 24px;
  border-radius: 24px;
  transition: all 0.3s ease;
}

.navButton:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #1b4a9c;
  transform: translateY(-5px);
}

.navLogo {
  width: 250px;
  height: auto;
  margin-left: 5%;
  animation: slideRight 1s ease forwards;
}



/* CONTENT */

.homeSection {
  height: 85.5dvh;
  position: relative;
  background: url('../../assets/images/lefthexagon.svg') no-repeat left top;
  background-size: contain;
  animation: slideRight 1s ease forwards;
  z-index: 1;
}

.homeContainer {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5% 100px 5%;
  z-index: 2;
}

.homeH1 {
  font-size: 70px;
  text-align: justify;
  line-height: 1.1;
  max-width: 150%;
  height: auto;
  animation: slideRight 1.2s ease forwards;
  opacity: 0;
  margin-top: -100px;
  z-index: 2;
}

.successSpan {
  color: #1b4a9c;
  text-decoration: underline;
}

.spanH1{
  font-size: 64px;
}

.pageDivider {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 0;
  pointer-events: none;
}

.pageDivider img {
  width: 100%;
  height: auto;
  margin: 0;
  animation: slideTop 1s ease forwards;
  z-index: -1;
  pointer-events: none;
}

.loginContainer {
  width: 500px;
  height: auto;
  border-radius: 32px;
  box-shadow: 0 8px 16px rgba(27, 74, 156, 0.2); 
  background-color: #cae0fd;
  padding: 16px 24px 32px 24px;
  margin-top: -80px;
  z-index: 1;
  animation: slideTop 1s ease forwards;
}

.sendContainer{
  display: flex;
  flex-direction: row;
  gap: 8px;
  
}
.sendCode {
  width: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: none;
  background-color: #1b4a9c; /* Example button color */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 12px;
  font-weight: 600;
  padding: 8px 4px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.sendCode:hover {
  background-color: #0a3e6b; /* Darker shade on hover */
}

.sendCode:disabled {
  background-color: #ccc; /* Disabled state */
  cursor: not-allowed;
}

.loginContainer h1 {
  font-size: 28px;
  text-align: center;
}

.inputBox {
  position: relative;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  box-shadow: 0 4px 8px rgba(27, 74, 156, 0.2);
  border-radius: 40px;
}


.userPass {
  flex: 1; /* Takes up remaining space */
  padding: 4px 8px;
  border: none;
  outline: none;
  border-radius: 40px;
  font-size: 18px;
  color: #3c3c3b;
  background-color: #fff; 
  margin: 0; 
}

.inputLabelPass {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff; 
  background-color: #6e8ec5;
  padding: 0 4px; 
  border-radius: 32px; 
  font-size: 14px; 
}

.inputLabelUser,
.inputLabelPass {
  display: flex;
  flex-direction: row;
  color: #fff;
  font-size: 16px;
  position: absolute;
  left: 10px;
  top: 0.4rem;
  padding-left: 2px;
  padding-right: 2px;
  transition: top 0.2s ease-in-out, left 0.2s ease-in-out, font-size 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

/* Styling for disabled input fields */
.userInput:disabled,
.userPass:disabled {
  background-color: #f0f0f0; 
  /* cursor: not-allowed;  */
  color: #f1f1f1; 
  border-color: #d0d0d0; 
}

.userInput:disabled ~ .inputLabelUser,
.userPass:disabled ~ .inputLabelUser{
  color: #3b3b3b;
}

.userInput:focus ~ .inputLabelUser,
.userPass:focus ~ .inputLabelUser {
  color: #3c3c3b;
  top: -0.6rem;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
  border-radius: 32px;
}

.userInput:not(:focus):not(:placeholder-shown) ~ .inputLabelUser,
.userPass:not(:focus):not(:placeholder-shown) ~ .inputLabelUser {
  color: #fff;
  top: -0.6rem;
  font-size: 12px;
  font-weight: bold;
  background-color: #6e8ec5;
  border-radius: 32px;
}

.userInput,
.userPass {
  padding: 4px 8px;
  width: 100%;
  background-color: #6e8ec5;
  border: none;
  outline: none;
  border-radius: 40px;
  font-size: 18px;
  color: #3c3c3b;
  box-sizing: border-box;
  padding-left: 12px;
  transition: background-color 0.2s ease-in-out;
}

.userInput:focus,
.userPass:focus {
  background-color: #fff;
  
}
.userInput:not(:placeholder-shown):not(:focus),
.userPass:not(:placeholder-shown):not(:focus) {
  color: #fff;
}


.inputBox img {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.loginContainer .rememberForgot {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: 12px 4px;
}

.rememberForgot label {
  display: flex;
  align-items: left;
}

.rememberForgot label input {
  accent-color: #1b4a9c;
  margin-right: 3px;
}

.termsConditions{
  font-size: 12px;
  font-weight: 500;
  margin-left: 3px;
  margin-right: 3px;
}


.registerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 32px;
  background: #1b4a9c;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
}

.registerButton:disabled{
  cursor: not-allowed;
  color: #3b3b3b;
  background: #d0d0d0;
  font-weight: 500;
}

.loginButton:hover{
  transform: translateY(-5px);
}

.register {
  font-size: 16px;
  text-align: center;
  margin-top: 12px;
}

.registerBtn {
  text-decoration: none;
  font-weight: 600;
}

.registerBtn:hover {
  text-decoration: underline;
}

.eyeIcon {
  width: 24px; 
  height: auto; 
  cursor: pointer;
}
.success, .error{
  margin-left: 8px;
  font-size: 12px;
}

.loader {
  vertical-align: middle;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid #1b4a9c;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
@keyframes l20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}



/* KEYFRAMES ANIMATION */
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@media (min-width: 100px) and (max-width: 500px) {

  .navBar{
    height: 80px;
    padding: 8px 16px;
  }
  .navLogo{
    width: 150px;
    margin-left: 0;
  }

  .navUl{
    margin-right: 0;
  }

  .navLi,
  #navLi{
    margin-right: -8px;
  }

  .navButton,
  .login{
    font-size: 12px;
    margin-right: 0;
  }
  .login{
    padding: 8px 12px;
  }

  .homeContainer h1{
    font-size: 24px;
    margin-left: -8px;
    margin-top: 0;
    text-align: center;
  }
  .spanH1{
    font-size: 24px;
  }
  

  .homeContainer{
    flex-direction: column;
    height: 450px;
    gap: 0;
  }

  .homeSection{
    height: 91dvh;
  }
  

  .loginContainer{
    width: 300px;
    height: 700px;
    padding: 16px 12px;
    margin-top: 32px;
  }

  .formLogo{
    width: 100px;
  }

  .loginContainer h1 {
    font-size: 18px;
  }

  .inputBox {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .inputLabelUser,
  .inputLabelPass {
    font-size: 12px;
    left: 12px;
    top: 0.5rem;
  }


  .userInput:not(:focus):not(:placeholder-shown) ~ .inputLabelUser,
  .userPass:not(:focus):not(:placeholder-shown) ~ .inputLabelPass {
    top: -0.4rem;
    font-size: 10px;
  }

  .userInput:focus ~ .inputLabelUser,
  .userPass:focus ~ .inputLabelPass {
    font-size: 9px;
    top: -0.4rem;
  }

  .userInput,
  .userPass {
    padding: 8px;
    font-size: 12px;
    color: #3c3c3b;
    box-sizing: border-box;
    padding-left: 12px;
    transition: background-color 0.2s ease-in-out;
  }

  .inputBox img {
    width: 16px;
  }

  .loginContainer .rememberForgot {
    font-size: 8px;
  }

  .forgotPass {
    margin-top: -8px;
  }
  .rememberForgot label{
    margin-top: -9px;
  }

  .loginButton{
    font-size: 16px;
    height: 24px;
    margin-top: -16px;
  }

  .register {
    font-size: 10px;
    margin-top: 8px;
  }

}